<!--The content below is only a placeholder and can be replaced.-->
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container-fluid" style="background-color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <br/>
    <br/>
    <div id="header" class="jumbotron">
      Welcome to Backoffice UI
    </div>
    <br/>
    <div class="col-sm-4 col-sm-offset-4" style="text-align: center">
      <user-directory (itemDirSelected)='clickDirTree($event)'></user-directory>
    </div>
    <div id="flex-container">
      <div class="col-sm-4">
        <app-file-explorer [directorySelected]='chosenDirLoc' (itemSelected)='clickFileTree($event)' class='file-explorer'>Loading..</app-file-explorer>
      </div>
      <div class="main-content-container" class="col-sm-8">
        <div class="sub-header">
          <app-sub-header [fileLoc2]='chosenFileLoc'>Loading..</app-sub-header>
        </div>
        <div class="main-content" class="col-sm-8">
          <app-main-content [fileLoc]='chosenFileLoc'>Loading..</app-main-content>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
