<div class="row">
  <form #backOfficeDataForm="ngForm" (ngSubmit)="onFormSubmit(backOfficeDataForm.value)">
    <table class="table table-striped">
      <tr>
        <th>Parameter</th>
        <th>Thumbnail</th>
        <th>Default Value</th>
        <th>Possible Values</th>
      </tr>
      <tr *ngFor="let dmaParameter of bmaParameters; let i=index;">
        <td name="parameter" id="paramName_{{i}}">{{dmaParameter.name}}
          <input type="hidden" name="dmaparameter_{{i}}" id="dmaparameter_{{i}}" [ngModel]="dmaParameter.name">
        </td>

        <td></td>
        <td>
          <input type="text" name="paramValue_{{i}}" id="paramValue_{{i}}" [ngModel]="dmaParameter.value" disabled>
          <input type="hidden" name="defaultValue" id="defaultValue" value="{{dmaParameter.value}}">

        </td>
        <td>
          <select name="possibleValues" id="possibleValues" #selectedValue (change)="dmaParameter.value=selectedValue.value">
            <option selected disabled>values</option>
            <option *ngFor="let possibleValue of possibleValues" [value]="possibleValue.selectableValue"> {{possibleValue.selectableValue}}</option>
          </select>
        </td>
      </tr>
    </table>
      <button class="btn btn-primary" type="submit"> Export</button>
  </form>

</div>

<!-- <div>
  {{backOfficeDataForm.value | json}}
</div> -->
